{% extends "layouts/base-fullscreen.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %} {{title_page|upper}} {% endblock %}

{% block content %}

<!-- [ auth-signup ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{% static 'assets/images/logo.jpeg' %}" alt="" class="img-fluid mb-4" width="167px" height="33px">
						<h4 class="mb-3 f-w-400">
							<h4 class="mb-3 f-w-400">
								{{ title | title }}
							</h4>
						</h4>

						{% include 'includes/messages.html' %}

						<!-- dummy spacer -->
						<p> <br /> </p>

						<form role="form" method="POST" action="" autocomplete="off">

							{% csrf_token %}

							<div class="mb-3">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-at-sign"></i></span>
									</div>
									{% render_field form.email class="form-control" placeholder=form.email.label %}
								</div>
								<small class="form-text text-muted">{{ form.email.help_text }}</small>
								{% for error in form.email.errors %}
								<p class="form-text text-danger">{{ error }}</p>
								{% endfor %}
							</div>

							<div class="mb-3">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-user"></i></span>
									</div>
									{% render_field form.first_name class="form-control" placeholder=form.first_name.label %}
									{% render_field form.last_name class="form-control" placeholder=form.last_name.label %}
								</div>
								<small class="form-text text-muted">{{ form.first_name.help_text }}</small>
								<small class="form-text text-muted">{{ form.last_name.help_text }}</small>
								{% for error in form.first_name.errors %}
								<p class="form-text text-danger">{{ error }}</p>
								{% endfor %}
								{% for error in form.last_name.errors %}
								<p class="form-text text-danger">{{ error }}</p>
								{% endfor %}
							</div>

							<div class="mb-3">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-user"></i></span>
									</div>
									{% render_field form.dni class="form-control" placeholder=form.dni.label %}
								</div>
								<small class="form-text text-muted">{{ form.dni.help_text }}</small>
								{% for error in form.dni.errors %}
								<p class="form-text text-danger">{{ error }}</p>
								{% endfor %}
							</div>

							<div class="mb-3">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{% render_field form.password1 class="form-control" placeholder=form.password1.label %}
								</div>
								<small class="form-text text-muted">{{ form.password1.help_text }}</small>
								{% for error in form.password1.errors %}
								<p class="form-text text-danger">{{ error }}</p>
								{% endfor %}
							</div>

							<div class="mb-3">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{% render_field form.password2 class="form-control" placeholder=form.password2.label %}
								</div>
								<small class="form-text text-muted">{{ form.password2.help_text }}</small>
								{% for error in form.password2.errors %}
								<p class="form-text text-danger">{{ error }}</p>
								{% endfor %}
							</div>

							<div class="form-group text-left mt-2">
								<div class="checkbox checkbox-primary d-inline">
									<input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" checked="">
									<label for="checkbox-fill-2" class="cr">Estoy deacuerdo con los <a href="#">terminos</a>.</label>
								</div>
							</div>
							<button type="submit" name="register"
								class="btn btn-primary btn-block mb-4">Registrar</button>

						</form>

						<p class="mb-0 text-muted">Eres miembro? <a href="{% url 'members:login' %}" class="f-w-400">Ingresar</a>
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signup ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %}