{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- ======= Head ======= -->

<head>

    {% include 'layouts/includes/head.html' %}

    <title>Grupo RPG | {% block title_head %}{% endblock %} | SAC</title>

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head><!-- End Head -->

<body>

    {% include 'layouts/includes/header.html' %}

    {% include 'layouts/includes/sidebar.html' %}

    <main id="main" class="main position-relative">

        {% block main_content %}
        {% endblock main_content %}

        <!-- Placeholder for the modal -->
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
        </div><!-- End Placeholder for the modal -->

    </main>

    {% include 'layouts/includes/footer.html' %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    {% include 'layouts/includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>

</html>