.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* tr.htmx-swapping td a {
    opacity: 0;
    transition: opacity 1s ease-out;
} */