{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

{% include 'messages.html' %}
    
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-primary">CVS</button>
        </div>
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-primary">PDF</button>
        </div>
    </div>
</div>

<div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Agregar una Compañia
    </button>
</div>

{% include 'companies/company_form.html' %}

<div id="checkedExpenses" class="col pt-2">
    <form>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Razón Social</th>
                    <th>Dirección</th>
                    <th>Nº RUC</th>
                    <th class="text-center">Pago</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody id="expenseTbody">
                {% include "companies/company_table.html" %}
            </tbody>
        </table>
    </form>
</div>
</main>
{% endblock content %}

{% block js %}
{% endblock js %}