{% for company in companies_list %}
<tr class="person">
  <td>
    <input type="checkbox" name="ids" value="{{ object.pk }}">
  </td>
  <td>{{ company.social_reason }}</td>
  <td>{{ company.address }}</td>
  <td>{{ company.ruc }}</td>
  <td class="text-center">
    <span hx-get="{ url 'expense:expense_detail' company.pk %}">
      <i class="bi bi-pencil-square link span-is-link"></i>
    </span>
    <span hx-delete="{ url 'expense:expense_delete' company.pk %}" hx-confirm="Deseja mesmo deletar?"
      hx-target="closest tr" hx-swap="outerHTML swap:500ms">
      <i class="bi bi-trash-fill no span-is-link pl-2"></i>
    </span>
  </td>
</tr>
{% endfor %}