<div class="modal-header">
    <h5 class="modal-title" id="detailModalModalLabel">Detalles de la empresa o compañia</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <h5 class="card-title">{{ obj.social_reason|title }} Nº RUC {{ obj.ruc }}</h5>
    <h6 class="card-subtitle mb-2">Empleados</h6>
    <ul>
        {% for i in obj.clientprofile_set.all %}
        <li class="card-text justify-content-between">{{i.id}}-{{i.user.id}}{{ i.user.get_profession_display }} {{ i.user.first_name|title }} {{ i.user.last_name|title }} DNI: {{ i.user.dni }} 
            <a href="{% url 'members:signup_client_update' i.user.id %}" class="ml-4 badge badge-warning">Editar</a>           
            <a href="" class="badge badge-danger"
                hx-delete="{% url 'members:client_delete_hx' i.user.id %}"
                hx-confirm="Confirma eliminar el empleado {{ i.user.get_profession_display }} {{ i.user.first_name|title }} {{ i.user.last_name|title }} DNI: {{ i.user.dni }}"
                hx-target="#detailCompanyContent"
                hx-swap="innerHTML swap:500ms">
                Borrar
            </a>
        </li>
        {% endfor %}                                
    </ul>
    <h6 class="card-subtitle mb-2">Proyectos</h6>
    <ul>
        <li class="card-text">Proyecto 1</li>
        <li class="card-text">Proyecto 2</li>
        <li class="card-text">Proyecto 3</li>
    </ul>
    <a href="{% url 'companies:company_list_update' obj.id %}" class="card-link">Editar empresa</a>
    <a href="{% url 'companies:company_list_create' %}" class="card-link">Crear otra empresa</a>    
</div>
<div class="modal-footer">
    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
</div>
