{% extends 'companies/company_list_create_update.html' %}
{% load widget_tweaks %}

{% block content %}
{{ block.super }}

    {% block content_change %}
    {% if obj %}
    <form action="{% url 'companies:company_list_update' obj.id %}" method="post">
    {% else %}
    <form action="{% url 'companies:company_list_create' %}" method="post">
    {% endif %}
        {% csrf_token %} 
        <div class="form-group">
            <label for="">{{ form.social_reason.label }}</label>
            {% render_field form.social_reason class="form-control" placeholder=form.social_reason.label %}
            {% if form.social_reason.help_text %}
            <small class="form-text text-muted">{{ form.social_reason.help_text }}</small>
            {% endif %}
            {% for error in form.social_reason.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form.address.label }}</label>
            {% render_field form.address class="form-control" placeholder=form.address.label %}
            {% if form.address.help_text %}
            <small class="form-text text-muted">{{ form.address.help_text }}</small>
            {% endif %}
            {% for error in form.address.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form.ruc.label }}</label>
            {% render_field form.ruc class="form-control" placeholder=form.ruc.label %}
            {% if form.ruc.help_text %}
            <small class="form-text text-muted">{{ form.ruc.help_text }}</small>
            {% endif %}
            {% for error in form.ruc.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn  btn-primary">Guardar </button>
    </form>
    {% endblock %}

{% endblock %}