<div class="card-header">
    <h5>Detalles de la empresa o compañia</h5>
</div>
<div class="card-body">
    <h5 class="card-title">{{ obj.social_reason|title }} Nº RUC {{ obj.ruc }}</h5>
    <h6 class="card-subtitle mb-2">Empleados</h6>
    <ul>                                
        <li class="card-text">Empleado 1</li>
        <li class="card-text">Empleado 2</li>
        <li class="card-text">Empleado 3</li>
    </ul>
    <h6 class="card-subtitle mb-2">Proyectos</h6>
    <ul>
        <li class="card-text">Proyecto 1</li>
        <li class="card-text">Proyecto 2</li>
        <li class="card-text">Proyecto 3</li>
    </ul>
    <a href="#!" class="card-link">Card link</a>
    <a href="{% url 'companies:company_list_create' %}" class="card-link">Crear otra empresa</a>                            
</div>
<div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
</div>