<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'includes/head.html' %}

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    <!-- [ auth-signin ] start -->
    <div class="auth-wrapper">
        {% block content %}{% endblock content %}
    </div>
    <!-- [ auth-signin ] end -->

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %} 

</body>
</html>
