{% load widget_tweaks %}

{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ title|upper }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
            {% render_field form.name class="form-control" %}
            <div class="invalid-feedback">{{ form.name.errors|first }}</div>
        </div>
        <div class="mb-3">
            <label for="{{ form.location.id_for_label }}" class="form-label">{{ form.location.label }}</label>
            {% render_field form.location class="form-control" %}
            <div class="invalid-feedback">{{ form.location.errors|first }}</div>
        </div>
    </div>
    <div class="modal-footer">
        {% if project %}
        <button type="button" class="btn btn-danger" 
            hx-post="{% url 'projects:delete_project' project_pk=project.pk %}">
            <i class="bi bi-trash me-1"></i> Borrar
        </button>
        <span class="flex-grow-1"></span>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Despejar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
{% endwith %}