{% extends 'core/enrolling.html' %}
{% load widget_tweaks %}

{{ block.super }}

{% block content_change %}
    {% if project_obj %}
    <form action="{% url 'projects:update_project' project_obj.id %}" method="POST">
    {% else %}
    <form action="{% url 'projects:create_project' company_obj.id %}" method="POST">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="">{{ form_project.name.label }}</label>
            {% render_field form_project.name class="form-control" placeholder=form_project.name.label %}
            {% if form_project.name.help_text %}
            <small class="form-text text-muted">{{ form_project.name.help_text }}</small>
            {% endif %}
            {% for error in form_project.name.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form_project.location.label }}</label>
            {% render_field form_project.location class="form-control" placeholder=form_project.location.label %}
            {% if form_project.location.help_text %}
            <small class="form-text text-muted">{{ form_project.location.help_text }}</small>
            {% endif %}
            {% for error in form_project.location.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="submit" class="btn  btn-primary">Guardar</button>
    </form>
{% endblock %}