{% for order in list_orders %}
{% if forloop.last %}
<tr class="order-row-{{ order.pk }}">
    <td>{{ order.created|date:"Ymd"}}-{{ order.pk }}</td>
    <td>S/. {{ order.get_total_igv_quatotion }}</td>
    <td>S/. {{ order.discount }}</td>
    <td>{{ order.created }}</td>
    <td>{{ order.updated }}</td>
    <td>
        <a type="button" class="btn btn btn-secondary btn-sm"
            href="{% url 'orders:update_order_quatotion' order_quatotion_pk=order.pk %}">
            <i class="bi bi-node-plus-fill me-1"></i></i> Ensayos Cotización
        </a>
        <a type="button" class="btn btn-warning btn-sm btn-sm"
            href="{% url 'orders:edit_order_quatotion_info' order_quatotion_pk=order.pk %}">
            <i class="bi bi-exclamation-triangle me-1 me-1"></i></i> Requerimiento
        </a>
        <button type="button" class="btn btn btn-danger btn-sm"
            hx-post="{% url 'orders:delete_order_quatotion' order_quatotion_pk=order.pk %}"
            hx-confirm="Confirma eliminar la orden Nª {{ forloop.counter }} con {{ order.orderitemquatotion_set.count }} ensayos"
            hx-target=".order-row-{{ order.pk }}" hx-swap="outerHTML swap:500ms">
            <i class="bi bi-trash me-1"></i> Borrar
        </button>
    </td>
    <td>
        {% if order.quatotion %}
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_quatotion_order' order_quatotion_pk=order.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Cotización
        </a>
        {% endif %}
        {% if order.requirement %}
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_requirement_order' order_quatotion_pk=order.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Requerimiento
        </a>
        {% endif %}
    </td>
</tr>
{% if order.orderexecution %}
<tr class="order-row-{{ order.pk }}">
    <td>{{ order.orderexecution.created|date:"Ymd"}}-{{ order.orderexecution.pk }}</td>
    <td>S/. {{ order.orderexecution.get_total_igv_execution }}</td>
    <td>S/. {{ order.orderexecution.discount }}</td>
    <td>{{ order.orderexecution.created }}</td>
    <td>{{ order.orderexecution.updated }}</td>
    <td>
        <a type="button" class="btn btn btn-secondary btn-sm"
            href="{% url 'orders:edit_order_execution' order_execution_pk=order.orderexecution.pk %}">
            <i class="bi bi-node-plus-fill me-1"></i></i> Ensayos Ejecución
        </a>
    </td>
    <td>
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_execution_order' order_execution_pk=order.orderexecution.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Orden de Ejecución
        </a>
    </td>
</tr>
{% endif %}
{% if order.liquidation %}
<tr class="order-row-{{ order.pk }}">
    <td>{{ order.orderexecution.orderliquidation.created|date:"Ymd" }}-{{ order.orderexecution.orderliquidation.pk }}
    </td>
    <td>S/. {{ order.orderexecution.orderliquidation.get_total_igv_liquidation }}</td>
    <td>S/. {{ order.orderexecution.orderliquidation.discount }}</td>
    <td>{{ order.orderexecution.orderliquidation.created }}</td>
    <td>{{ order.orderexecution.orderliquidation.updated }}</td>
    <td>
        <a type="button" class="btn btn btn-secondary btn-sm"
            href="{% url 'orders:edit_order_liquidation' order_liquidation_pk=order.orderexecution.orderliquidation.pk %}">
            <i class="bi bi-node-plus-fill me-1"></i></i> Ensayos Liquidación
        </a>
    </td>
    <td>
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_liquidation_order' order_liquidation_pk=order.orderexecution.orderliquidation.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Liquidación
        </a>
    </td>
</tr>
{% endif %}
<tr id="replaceMe">
    <td> 
        <button class="btn btn-primary btn-sm" type="button"
            {% if list_orders.has_next %}
            hx-get="{% url 'orders:list_order_quatotion' %}?page={{ list_orders.next_page_number }}"
            hx-target="#replaceMe"
            hx-swap="outerHTML">
            {% else %}
            {% comment %} Here I have to put something to swap the btn {% endcomment %}
            {% endif %}
        Cargar ...
        </button>
    </td>
</tr>
{% else %}
<tr class="order-row-{{ order.pk }}">
    <td>{{ order.created|date:"Ymd"}}-{{ order.pk }}</td>
    <td>S/. {{ order.get_total_igv_quatotion }}</td>
    <td>S/. {{ order.discount }}</td>
    <td>{{ order.created }}</td>
    <td>{{ order.updated }}</td>
    <td>
        <a type="button" class="btn btn btn-secondary btn-sm"
            href="{% url 'orders:update_order_quatotion' order_quatotion_pk=order.pk %}">
            <i class="bi bi-node-plus-fill me-1"></i></i> Ensayos Cotización
        </a>
        <a type="button" class="btn btn-warning btn-sm btn-sm"
            href="{% url 'orders:edit_order_quatotion_info' order_quatotion_pk=order.pk %}">
            <i class="bi bi-exclamation-triangle me-1 me-1"></i></i> Requerimiento
        </a>
        <button type="button" class="btn btn btn-danger btn-sm"
            hx-post="{% url 'orders:delete_order_quatotion' order_quatotion_pk=order.pk %}"
            hx-confirm="Confirma eliminar la orden Nª {{ forloop.counter }} con {{ order.orderitemquatotion_set.count }} ensayos"
            hx-target=".order-row-{{ order.pk }}" hx-swap="outerHTML swap:500ms">
            <i class="bi bi-trash me-1"></i> Borrar
        </button>
    </td>
    <td>
        {% if order.quatotion %}
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_quatotion_order' order_quatotion_pk=order.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Cotización
        </a>
        {% endif %}
        {% if order.requirement %}
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_requirement_order' order_quatotion_pk=order.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Requerimiento
        </a>
        {% endif %}
    </td>
</tr>
{% if order.orderexecution %}
<tr class="order-row-{{ order.pk }}">
    <td>{{ order.orderexecution.created|date:"Ymd"}}-{{ order.orderexecution.pk }}</td>
    <td>S/. {{ order.orderexecution.get_total_igv_execution }}</td>
    <td>S/. {{ order.orderexecution.discount }}</td>
    <td>{{ order.orderexecution.created }}</td>
    <td>{{ order.orderexecution.updated }}</td>
    <td>
        <a type="button" class="btn btn btn-secondary btn-sm"
            href="{% url 'orders:edit_order_execution' order_execution_pk=order.orderexecution.pk %}">
            <i class="bi bi-node-plus-fill me-1"></i></i> Ensayos Ejecución
        </a>
    </td>
    <td>
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_execution_order' order_execution_pk=order.orderexecution.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Orden de Ejecución
        </a>
    </td>
</tr>
{% endif %}
{% if order.liquidation %}
<tr class="order-row-{{ order.pk }}">
    <td>{{ order.orderexecution.orderliquidation.created|date:"Ymd" }}-{{ order.orderexecution.orderliquidation.pk }}
    </td>
    <td>S/. {{ order.orderexecution.orderliquidation.get_total_igv_liquidation }}</td>
    <td>S/. {{ order.orderexecution.orderliquidation.discount }}</td>
    <td>{{ order.orderexecution.orderliquidation.created }}</td>
    <td>{{ order.orderexecution.orderliquidation.updated }}</td>
    <td>
        <a type="button" class="btn btn btn-secondary btn-sm"
            href="{% url 'orders:edit_order_liquidation' order_liquidation_pk=order.orderexecution.orderliquidation.pk %}">
            <i class="bi bi-node-plus-fill me-1"></i></i> Ensayos Liquidación
        </a>
    </td>
    <td>
        <a type="button" class="btn btn-dark btn-sm"
            href="{% url 'orders:pdf_liquidation_order' order_liquidation_pk=order.orderexecution.orderliquidation.pk %}">
            <i class="bi bi-file-pdf me-1"></i> Liquidación
        </a>
    </td>
</tr>
{% endif %}
{% endif %}

{% endfor %}