{% for order in list_orders %}
    {% if forloop.last %}
        {% include "orders/include/row.html" %}
        <tr id="moreOrdersQuatotion">
            <td> 
                {% if list_orders.has_next %}
                <button class="btn btn-primary btn-sm" type="button"
                    hx-get="{% url 'orders:list_order_quatotion' %}?page={{ list_orders.next_page_number }}"
                    hx-target="#moreOrdersQuatotion"
                    hx-swap="outerHTML">
                    {% comment %} Here I have to put something to swap the btn {% endcomment %}
                    Cargar ...
                </button>
                {% else %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        {% include "orders/include/row.html" %}
    {% endif %}
{% endfor %}