{% extends "layouts/base-pdf.html" %}

{% block title_head %} {{ title_head|upper }} {% endblock %}

{% block content_pdf %}
<!-- HTML PDF Content -->
<table width="100%">
    <tr>
        <th align="center">
            DATOS DEL SOLICITANTE
        </th>
    </tr>
    <tr>
        <td>
            <p>TIPO DE CLIENTE: <span>{{ order_obj.company.get_type_company_display }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>EMPRESA O INSTITUCIÓN: <span>{{ order_obj.company.social_reason|upper }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>DIRECCIÓN: <span>{{ order_obj.company.address|upper }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>CONTACTO: <span>{{ order_obj.client.user.profession|title }} {{ order_obj.client.user.get_full_name|title }}</span></p>
        </td>
    </tr>
    <table>
        <tr>
            <td width="65%">
                <p>CORREO ELECTRO: <span>{{ order_obj.client.user.email }}</span></p>
            </td>
            <td width="35%">
                <p>CELULAR: <span>{{ order_obj.client.user.cell_phone }}</span></p>
            </td>
        </tr>
    </table>
</table>
<table>
    <tr>
        <th align="center">
            REQUISITOS DEL SERVICIO
        </th>
    </tr>
    <tr>
        <td>
            <p>TIPO DE SERVICIO: <span>{{ order_obj.get_type_service_display }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>TITULO DEL PROYECTO: <span>{{ order_obj.project.name|title }}</span></p>
        </td>
    </tr>
</table>
<br>
<table style="width:100%">
    <tr>
        <th colspan="4">REQUISITOS DE LOS ENSAYOS</th>
    </tr>
    <tr>
        <th width="5%">ITEM</th>
        <th width="15%">DESCRIPCIÓN DE LA MUESTRA</th>
        <th width="60%">ENSAYOS SOLICITADOS</th>
        <th width="20%">CONDICIONES PARTICULARES PARA REALIZAR ANÁLISIS Y ENSAYOS</th>
    </tr>
    {% for order_item in order_obj.order_items.all %}
    <tr>
        <td align="center">{{ forloop.counter }}</td>
        {% if order_item.sampling_by is True %}
        <td align="center">Muestreo realizado por RPG</td>
        {% elif order_item.sampling_by is False %}
        <td align="center">Proporcionada por el Cliente</td>
        {% elif order_item.sampling_by is None %}
        <td align="center">N/A</td>
        {% endif %}
        <td>{{ order_item.characteristictestlab.matrix }} - {{ order_item.test_lab.name_test }}. {{ order_item.test_lab.basic_norm }}</td>
        <td align="center">-</td>
    </tr>
    {% endfor %}
</table>
<br>
<table>
    <tr>
        <th align="center">
            INFORMACIÓN RELACIONADA CON EL MUESTREO
        </th>
    </tr>
    <tr>
        <td>
            <p>RESPONSABLE DEL MUESTREO: <span>{{ order_obj.order_info.get_responsible_display }}</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            Requisitos para el ingreso a las instalaciones del cliente (Información aplicable solo cuando el muestreo es responsabilidad del laboratorio):
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.order_info.riic }}</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            REQUISITOS DE LOS ESTUDIOS DE MECÁNICA DE SUELOS O ESTUDIOS GEOTÉCNICO
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.order_info.remseg }}.</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            REQUISITOS DE LOS ESTUDIOS DE MECÁNICA DE SUELOS O ESTUDIOS GEOTÉCNICO
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.order_info.remseg }}.</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            REQUISITOS LEGALES O REGLAMENTARIOS APLICABLES AL SERVICIO
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.order_info.get_rlras_display }}.</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            OBSERVACIONES
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.order_info.observation }}.</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            RESPONSABLE DE LA IDENTIFICACIÓN DE LOS REQUISITOS DEL SERVICIO
        </th>
    </tr>
    <table>
        <tr>
            <td width="55%">
                <p>NOMBRE: <span>{{ order_obj.order_info.rirs.user.profession|title }}. {{ order_obj.order_info.rirs.user.get_full_name|title }}</span></p>
            </td>
            <td width="45%">
                <p>CARGO: <span>{{ order_obj.order_info.rirs.user.adminprofile.get_charge_display|title }}</span></p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th align="center">
                RESPONSABLE DE LA EVALUACIÓN DE LA CAPACIDAD DEL LABORATORIO
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <td width="55%">
                <p>NOMBRE: <span>{{ order_obj.order_info.recl.user.profession|title }}. {{ order_obj.order_info.recl.user.get_full_name|title }}</span></p>
            </td>
            <td width="45%">
                <p>CARGO: <span>{{ order_obj.order_info.recl.user.adminprofile.get_charge_display|title }}</span></p>
            </td>
        </tr>
    </table>
</table>
{% endblock %}