{% extends "layouts/base-pdf.html" %}

{% block title_head %} {{ title_head|upper }} {% endblock %}

{% block content_pdf %}
<!-- HTML PDF Content -->
<table width="100%">
    <tr>
        <th align="center">
            DATOS DEL SOLICITANTE
        </th>
    </tr>
    <tr>
        <td>
            <p>TIPO DE CLIENTE: <span>{{ order_obj.company.get_type_company_display }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>EMPRESA O INSTITUCIÓN: <span>{{ order_obj.company.social_reason|upper }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>DIRECCIÓN: <span>{{ order_obj.company.address|upper }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>CONTACTO: <span>{{ order_obj.client.user.profession|title }} {{ order_obj.client.user.get_full_name|title }}</span></p>
        </td>
    </tr>
    <table>
        <tr>
            <td width="65%">
                <p>CORREO ELECTRO: <span>{{ order_obj.client.user.email }}</span></p>
            </td>
            <td width="35%">
                <p>CELULAR: <span>{{ order_obj.client.user.cell_phone }}</span></p>
            </td>
        </tr>
    </table>
</table>
<table>
    <tr>
        <th align="center">
            REQUISITOS DEL SERVICIO
        </th>
    </tr>
    <tr>
        <td>
            <p>TIPO DE SERVICIO: <span>{{ order_obj.get_type_service_display }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>TITULO DEL PROYECTO: <span>{{ order_obj.project.name|title }}</span></p>
        </td>
    </tr>
</table>
<br>
<table style="width:100%">
    <tr>
        <th colspan="4">REQUISITOS DE LOS ENSAYOS</th>
    </tr>
    <tr>
        <th width="5%">ITEM</th>
        <th width="15%">DESCRIPCIÓN DE LA MUESTRA</th>
        <th width="60%">ENSAYOS SOLICITADOS</th>
        <th width="20%">CONDICIONES PARTICULARES PARA REALIZAR ANÁLISIS Y ENSAYOS</th>
    </tr>
    {% for order_item in order_obj.orderitemquatotion_set.all %}
    <tr>
        <td align="center">{{ forloop.counter }}</td>
        {% if order_item.sampling_by == "SI" %}
        <td align="center">Muestreado realizado por RPG</td>
        {% elif order_item.sampling_by == "NO" %}
        <td align="center">Proporcionada por el Cliente</td>
        {% elif order_item.sampling_by == "N/A" %}
        <td align="center">N/A</td>
        {% endif %}
        <td>{{ order_item.characteristic_testlab.matrix }} - {{ order_item.testlab.name_test }}. {{ order_item.testlab.basic_norm }}</td>
        <td align="center">{{ order_item.obs }}.</td>
    </tr>
    {% endfor %}
</table>
<br>
<table>
    <tr>
        <th align="center">
            INFORMACIÓN RELACIONADA CON EL MUESTREO
        </th>
    </tr>
    <tr>
        <td>
            <p>RESPONSABLE DEL MUESTREO: <span>{{ order_obj.orderinfo.get_responsible_display }}</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            Requisitos para el ingreso a las instalaciones del cliente (Información aplicable solo cuando el muestreo es responsabilidad del laboratorio):
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.orderinfo.riic }}</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            REQUISITOS DE LOS ESTUDIOS DE MECÁNICA DE SUELOS O ESTUDIOS GEOTÉCNICO
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.orderinfo.remseg|default_if_none:"Ninguna." }}</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            REQUISITOS DE LOS ESTUDIOS DE MECÁNICA DE SUELOS O ESTUDIOS GEOTÉCNICO
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.orderinfo.remseg|default_if_none:"Ninguna." }}</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            REQUISITOS LEGALES O REGLAMENTARIOS APLICABLES AL SERVICIO
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.orderinfo.get_rlras_display }}.</span></p>
        </td>
    </tr>
    <tr>
        <th align="center">
            OBSERVACIONES
        </th>
    </tr>
    <tr>
        <td>
            <p><span>{{ order_obj.orderinfo.observation|default_if_none:"Ninguna." }}</span></p>
        </td>
    </tr>
 
    <table>
        <tr>
            <th colspan="3" align="center">
                VERIFICACIÓN DE CAPACIDAD DEL LABORATORIO
            </th>
        </tr>
        <tr>
            <th width="55%" align="center">
                Aspecto a verificar
            </th>
            <th width="10%" align="center">
                Si o No
            </th>
            <th width="35%" align="center">
                Observaciones
            </th>
        </tr>
        <tr>
            <td>
                <span>1.-¿El Laboratorio tiene capacidades para aplicar el método requerido?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_1 %}Si{% else %}No{% endif %}</span>
            </td>
            <td rowspan="8">
                <span >{{ order_obj.orderinfo.obs|default_if_none:"Ninguna." }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>2.-¿El Laboratorio cuenta con el equipo necesario para realizar el servicio?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_2 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>3.-¿El Laboratorio cuenta con personal competente y disponible para realizar el servicio?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_3 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>4.-¿El Laboratorio dispone del tiempo suficiente para realizar el servicio?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_4 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>5.-¿Es necesario subcontratar la totalidad o parte del servicio?</span>
                <span>(Indicar en el campo observaciones el motivo y el servicio que se requiere contratar)</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_5 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>6.-¿El método a utilizar es apropiado para el servicio solicitado?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_6 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>7.-¿El servicio ofrecido está acreditado?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_7 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>8.-¿En términos generales, el laboratorio cuenta con la capacidad para cumplir con los requisitos de los servicios?</span>
            </td>
            <td align="center">
                <span>{% if order_obj.orderinfo.question_8 %}Si{% else %}No{% endif %}</span>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th align="center">
                RESPONSABLE DE LA IDENTIFICACIÓN DE LOS REQUISITOS DEL SERVICIO
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <td width="55%">
                <p>NOMBRE: <span>{{ order_obj.orderinfo.rirs.user.profession|title }}. {{ order_obj.orderinfo.rirs.user.get_full_name|title }}</span></p>
            </td>
            <td width="45%">
                <p>CARGO: <span>{{ order_obj.orderinfo.rirs.user.adminprofile.get_charge_display|title }}</span></p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th align="center">
                RESPONSABLE DE LA EVALUACIÓN DE LA CAPACIDAD DEL LABORATORIO
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <td width="55%">
                <p>NOMBRE: <span>{{ order_obj.orderinfo.recl.user.profession|title }}. {{ order_obj.orderinfo.recl.user.get_full_name|title }}</span></p>
            </td>
            <td width="45%">
                <p>CARGO: <span>{{ order_obj.orderinfo.recl.user.adminprofile.get_charge_display|title }}</span></p>
            </td>
        </tr>
    </table>
</table>
{% endblock %}