{% extends "layouts/base-pdf.html" %}

{% block title_head %} {{ title_head|upper }} {% endblock %}

{% block content_pdf %}
<!-- HTML PDF Content -->
<table width="100%">
    <tr>
        <td>
            <p>OBRA/PROYECTO: <span>{{ order_obj.project.name }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>SOLICITANTE/PROPIETARIO: <span>{{ order_obj.company.social_reason|upper }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>UBICACIÓN: <span>{{ order_obj.project.location }}</span></p>
        </td>
    </tr>
    <table>
        <tr>
            <td width="65%">
                <p>FECHA DE EMISIÓN: <span>{{ order_obj.updated|date:"d/m/Y" }}</span></p>
            </td>
            <td width="35%">
                <p>COTIZACIÓN: <span>{{ order_obj.date_cost_quatotion_create }}</span></p>
            </td>
        </tr>
    </table>
    
</table>
<table style="width:100%">
    <tr>
        <td rowspan="3" width="12%">
            <p>FACTURACIÓN</p>
        </td>
        <td width="53%">
            <p>RAZÓN SOCIAL: <span>{{ order_obj.company.social_reason|upper }}</span></p>
        </td>
        <td width="35%">
            <p>CONTACTO: <span>{{ order_obj.client.user.profession|title }} {{ order_obj.client.user.get_full_name|title }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>DIRECCIÓN: <span>{{ order_obj.company.address|upper }}</span></p>
        </td>
        <td>
            <p>E MAIL: <span>{{ order_obj.client.user.email }}</span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>RUC: <span>{{ order_obj.company.ruc }}</span></p>
        </td>
        <td>
            <p>CELULAR: <span>{{ order_obj.client.user.cell_phone }}</span></p>
        </td>
    </tr>
</table>
<br>
<table style="width:100%">
    <tr>
        <th width="5%">ITEM</th>
        <th width="7%">MATRIZ</th>
        <th width="56%">DESCRIPCIÓN</th>
        <th width="7%">UNIDAD</th>
        <th width="9%">CANTIDAD</th>
        <th width="8%">P.U.</th>
        <th width="8%">PARCIAL INC. IGV</th>
    </tr>
    {% for order_item in order_obj.order_items.all %}
    <tr>
        <td align="center">{{ forloop.counter }}</td>
        <td align="center">{{ order_item.characteristictestlab.matrix }}</td>
        <td>{{ order_item.test_lab.name_test }}. {{ order_item.test_lab.basic_norm }}</td>
        <td align="center">{{ order_item.test_lab.unit }}</td>
        <td align="center">{{ order_item.quantity }}</td>
        <td align="center">S/.{{ order_item.price }}</td>
        <td align="center">S/.{{ order_item.get_partial_igv }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<table style="width:100%">
    <tr>
        <td rowspan="5" width="58%">
            <p>OBSERVACIONES: <span>{% lorem 40 w %}</span></p>
        </td>
        <th width="24%" align="center">
            <p>Parcial: </p>
        </th>
        <td width="18%" align="center">
            <span>S/.{{ order_obj.get_sub_total }}</span>
        </td>
    </tr>
    <tr>
        <th align="center">
            <p>Descuento: </p>
        </th>
        <td align="center">
            <span>S/.{{ order_obj.discount }}</span>
        </td>
    </tr>
    <tr>
        <th align="center">
            <p>TOTAL SIN IGV 18%:</p>
        </th>
        <td align="center">
            <span>S/.{{ order_obj.get_total_not_igv }}</span>
        </td>
    </tr>
    <tr>
        <th align="center">
            <p>IGV 18%:</p>
        </th>
        <td align="center">
            <span>S/.{{ order_obj.get_igv }}</span>
        </td>
    </tr>
    <tr>
        <th align="center">
            <p>TOTAL inc. IGV 18%</p>
        </th>
        <td align="center">
            <span>S/.{{ order_obj.get_total_igv }}</span>
        </td>
    </tr>
</table>
{% endblock %}