{% extends 'core/enrolling.html' %}
{% load widget_tweaks %}

{{ block.super }}

{% block content_change %}
    {% if user_obj %}
    <form action="{% url 'members:update_signup_client' user_obj.id %}" method="POST">
    {% else %}
    <form action="{% url 'members:create_signup_client' company_obj.id %}" method="POST">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="">{{ form_client_signup.email.label }}</label>
            {% render_field form_client_signup.email class="form-control" placeholder=form_client_signup.email.label %}
            {% if form_client_signup.email.help_text %}
            <small class="form-text text-muted">{{ form_client_signup.email.help_text }}</small>
            {% endif %}
            {% for error in form_client_signup.email.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form_client_signup.first_name.label }}</label>
            {% render_field form_client_signup.first_name class="form-control" placeholder=form_client_signup.first_name.label %}
            {% if form_client_signup.first_name.help_text %}
            <small class="form-text text-muted">{{ form_client_signup.first_name.help_text }}</small>
            {% endif %}
            {% for error in form_client_signup.first_name.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form_client_signup.last_name.label }}</label>
            {% render_field form_client_signup.last_name class="form-control" placeholder=form_client_signup.last_name.label %}
            {% if form_client_signup.last_name.help_text %}
            <small class="form-text text-muted">{{ form_client_signup.last_name.help_text }}</small>
            {% endif %}
            {% for error in form_client_signup.last_name.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form_client_signup.dni.label }}</label>
            {% render_field form_client_signup.dni class="form-control" placeholder=form_client_signup.dni.label %}
            {% if form_client_signup.dni.help_text %}
            <small class="form-text text-muted">{{ form_client_signup.dni.help_text }}</small>
            {% endif %}
            {% for error in form_client_signup.dni.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form_client_signup.profession.label }}</label>
            {% render_field form_client_signup.profession class="form-control" placeholder=form_client_signup.profession.label %}
            {% if form_client_signup.profession.help_text %}
            <small class="form-text text-muted">{{ form_client_signup.profession.help_text }}</small>
            {% endif %}
            {% for error in form_client_signup.profession.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="">{{ form_client_signup.cell_phone.label }}</label>
            {% render_field form_client_signup.cell_phone class="form-control" placeholder=form_client_signup.cell_phone.label %}
            {% if form_client_signup.cell_phone.help_text %}
            <small class="form-text text-muted">{{ form_client_signup.cell_phone.help_text }}</small>
            {% endif %}
            {% for error in form_client_signup.cell_phone.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="submit" class="btn  btn-primary">Guardar </button>
    </form>
{% endblock %}
