{% load static %}

<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>


<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
{% comment %} <script src="https://unpkg.com/htmx.org@1.6.1/dist/ext/client-side-templates.js"></script> {% endcomment %}
{% comment %} <script src="https://unpkg.com/mustache@latest"></script> {% endcomment %}
