
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-dark ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Indice</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Páginas</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html">Nosotros</a></li>
					        <li><a href="/layout-horizontal.html">Laboratorios</a></li>
					        <li><a href="/layout-horizontal.html">Acerca</a></li>
					        <li><a href="/layout-horizontal.html">Contactenos</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Laboratorios</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">MS</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Ensayos</a></li>
							<li><a href="/bc_button.html">Tarifas</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">EMS</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Ensayos</a></li>
							<li><a href="/bc_button.html">Tarifas</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">AG</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Ensayos</a></li>
							<li><a href="/bc_button.html">Tarifas</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">CCP</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Ensayos</a></li>
							<li><a href="/bc_button.html">Tarifas</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Pav</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Ensayos</a></li>
							<li><a href="/bc_button.html">Tarifas</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">ERTV</span></a>
						<ul class="pcoded-submenu">
							<li><a href="/bc_alert.html">Ensayos</a></li>
							<li><a href="/bc_button.html">Button</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Cotización</label>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Registro</span></a>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Requerimiento</span></a>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Orden</span></a>
					</li>
					<li class="nav-item">
					    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Liquidación</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Reportes</label>
					</li>
					<li class="nav-item">
					    <a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Charts</span></a>
					</li>
					<li class="nav-item">
					    <a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Mapas</span></a>
					</li>
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

					<li class="nav-item pcoded-menu-caption">
						<label>Acciones</label>
					</li>
					<li class="nav-item">
					    <a href="{ url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Salir</span></a>
					</li>
					<li class="nav-item">
					    <a href="#!" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Soporte</span></a>
					</li>
				</ul>
								
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
