{% load static %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'core:home' %}">
                <i class="bi bi-grid"></i>
                <span>Nosotros</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#labs-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Laboratorios</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="labs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Ensayos de Mecánica de Suelos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Escavación Resanes Transportes Varios</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Estudio de Mecánica de Suelos para Cimentaciones, Canales, Tuberías, Pavimentos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Ensayos para Agregados y Caracterización</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Diseño de Mezclas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Ensayos para Concreto de Cemento Portland</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Ensayos para Pavimentos</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#quotation-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Cotización</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="quotation-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'core:enrolling' %}">
                        <i class="bi bi-circle"></i><span>Registro</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:requirement' %}">
                        <i class="bi bi-circle"></i><span>Requerimiento</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Quotation -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Estadísticas</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Chart.js</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>ApexCharts</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>ECharts</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-heading">Paginas</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-person"></i>
                <span>Perfil</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-question-circle"></i>
                <span>Preguntas</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-envelope"></i>
                <span>Contacto</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'members:signup_admin' %}">
                <i class="bi bi-card-list"></i>
                <span>Registro Admin</span>
            </a>
        </li><!-- End Register Page Nav -->

        {% if request.user.is_authenticated. %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'members:logout' %}">
                <i class="bi bi-box-arrow-in-left"></i>
                <span>Salir</span>
            </a>
        </li><!-- End Logout Page Nav -->

        {% else %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'members:login' %}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Entrar</span>
            </a>
        </li><!-- End Login Page Nav -->
        {% endif %}


        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-file-earmark"></i>
                <span>Nada</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->