{% extends 'layouts/base-full.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title_head %} {{ first_section|upper }} {% endblock %}

{% block main_content %}
<div class="d-flex justify-content-center py-4">
    <a href="index.html" class="logo d-flex align-items-center w-auto">
        <img src="{% static 'assets/img/rpg_md.png' %}" alt="">
        <span class="d-none d-lg-block">Grupo RPG SAC</span>
    </a>
</div><!-- End Logo -->

<div class="card mb-3">

    <div class="card-body">

        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">{{ title|title }}</h5>
            <p class="text-center small">Ingresa tu información personal para crear un nuevo administrador.</p>
        </div>

        {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form method="POST" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
			<div class="col-12">
				<label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
				<div class="input-group has-validation">
					<span class="input-group-text" id="inputGroupPrepend">@</span>
					{% render_field form.email class="form-control" placeholder=form.email.label %}
					<div class="invalid-feedback">{{ form.email.errors|first }}</div>
				</div>
			</div>

			<div class="col-12">
				<label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
				{% render_field form.password class="form-control" placeholder=form.password.label %}
				<div class="invalid-feedback">{{ form.password.errors|first }}</div>
			</div>
			
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Ingresar</button>
            </div>
            <div class="col-12">
                <p class="small mb-0">Esta registrado como Administrador?<a href="{% url 'members:signup_admin' %}"> Registro Administrador</a></p>
            </div>
        </form>
        {% endwith %}

    </div>
</div>
{% endblock main_content %}
