{% load static %}

<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'img/rpg_md.png' %}" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
        <img class="mb-2" src="{% static 'img/av_lg.png' %}" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; Soporte jorgeav527@gmail.com</small>
      </div>
      <div class="col-6 col-md">
        <h5>Laboratorio</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Personal</a></li>
          <li><a class="text-muted" href="#">Equipos</a></li>
          <li><a class="text-muted" href="#">Local</a></li>
          <li><a class="text-muted" href="#">Desarrollo</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Certificaciones</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Certificación 1</a></li>
          <li><a class="text-muted" href="#">Certificación 2</a></li>
          <li><a class="text-muted" href="#">Certificación 3</a></li>
          <li><a class="text-muted" href="#">Certificación 4</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Acerca</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Equipo</a></li>
          <li><a class="text-muted" href="#">Ubicación</a></li>
          <li><a class="text-muted" href="#">Privacidad</a></li>
          <li><a class="text-muted" href="#">Terminos</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
