<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse multi-collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          (Current)<span class="bi bi-caret-right"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="bi bi-file-earmark-diff"></span>
          Cotizaciones
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="bi bi-file-earmark-check"></span>
          Ordenes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="bi bi-people"></span>
          Clientes
        </a>
      </li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span class="bi bi-graph-up-arrow"></span>
      <span>Reportes</span>
      <a class="nav-link" href="#" aria-label="Add a new report">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="bi bi-clipboard-data"></span>
          Mesusal
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span class="bi bi-clipboard-data"></span>
          Anual
        </a>
      </li>
    </ul>
  </div>
</nav>

