<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ company.social_reason|title }} Nº RUC {{ company.ruc }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h5 class="modal-title">Empleados</h5>
        <!-- List group Empleados -->
        <ol class="list-group list-group-numbered">
            {% for item_client in company.clientprofile_set.all %}
            <li class="list-group-item">{{ item_client.user.get_profession_display }}
                {{ item_client.user.first_name|title }}
                {{ item_client.user.last_name|title }} DNI: {{ item_client.user.dni }}
                <button type="button" class="btn btn-warning btn-sm"
                    hx-get="{% url 'members:update_client' user_pk=item_client.user.pk %}"
                    hx-target="#dialog"
                    hx-trigger="click delay:300ms">
                    <i class="bi bi-exclamation-triangle me-1"></i></i> Editar
                </button>
            </li>
            {% endfor %}
        </ol><!-- End List group Empleados -->
        <h5 class="modal-title">Proyectos</h5>
        <!-- List group Proyectos -->
        <ol class="list-group list-group-numbered">
            {% for item_project in company.project_set.all %}
            <li class="list-group-item">{{ item_project.name|upper }} / {{ item_project.location|title }}
                <button type="button" class="btn btn-warning btn-sm"
                    hx-get="{% url 'projects:update_project' project_pk=item_project.pk %}"
                    hx-target="#dialog"
                    hx-trigger="click delay:300ms">
                    <i class="bi bi-exclamation-triangle me-1"></i></i> Editar
                </button>
            </li>
            {% endfor %}
        </ol><!-- End List group Proyectos -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Despejar</button>
    </div>
</div>