{% for company in list_companies %}
    {% if forloop.last %}
    {% include "companies/include/row.html" %}
    <tr id="moreCompanies">
        <td> 
            {% if list_companies.has_next %}
            <button class="btn btn-primary btn-sm" type="button"
                hx-get="{% url 'companies:list_company' %}?page={{ list_companies.next_page_number }}"
                hx-target="#moreCompanies"
                hx-swap="outerHTML">
                {% comment %} Here I have to put something to swap the btn {% endcomment %}
                Cargar ...
            </button>
            {% else %}
            {% endif %}
        </td>
    </tr>
    {% else %}
    {% include "companies/include/row.html" %}
    {% endif %}
{% endfor %}
