{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %} {{ title_page|upper }} {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    button.is-link {
        display: block;
    }
</style>
{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">

            <!-- [ Main Content ] start -->
            <div class="row">       
                        
                <!-- Customer overview start -->
                <div class="col-lg-12">
                    <div class="card table-card">

                        <div class="card-header">
                            <h5>{{ title|title }}</h5>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Colapsar</span><span style="display:none"><i class="feather icon-plus"></i> Expadir</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> Refrescar</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> Remover</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-3">
                            <form method="POST" novalidate>
                                {% csrf_token %} 

                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="">{{ form_order.company.label }}</label>
                                        {% render_field form_order.company class="form-control" hx-get="/orders/company/project/client/" hx-target="#id_main-project-client" hx-swap="outerHTML" %}
                                        {% if form_order.company.help_text %}
                                        <small class="form-text text-muted">{{ form_order.company.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    <div id="id_main-project-client" class="form-group col-md-2">
                                        <div class="form-group">
                                            <label for="">{{ form_order.project.label }}</label>
                                            {% render_field form_order.project class="form-control" %}
                                            {% if form_order.project.help_text %}
                                            <small class="form-text text-muted">{{ form_order.project.help_text }}</small>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label for="">{{ form_order.client.label }}</label>
                                            {% render_field form_order.client class="form-control" %}
                                            {% if form_order.client.help_text %}
                                            <small class="form-text text-muted">{{ form_order.client.help_text }}</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="">{{ form_order.discount.label }}</label>
                                        {% render_field form_order.discount class="form-control" %}
                                        {% if form_order.discount.help_text %}
                                        <small class="form-text text-muted">{{ form_order.discount.help_text }}</small>
                                        {% endif %}
                                        {% for error in form_order.discount.errors %}
                                        <p class="form-text text-danger">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            {% render_field form_order.cost_quatotion %}
                                            <label class="form-check-label ml-2" for="">{{ form_order.cost_quatotion.label }}</label>
                                        </div>
                                        <div class="form-check">
                                            {% render_field form_order.requirement %}
                                            <label class="form-check-label ml-2" for="">{{ form_order.requirement.label }}</label>
                                        </div>
                                        <div class="form-check">
                                            {% render_field form_order.execution_order %}
                                            <label class="form-check-label ml-2" for="">{{ form_order.execution_order.label }}</label>
                                        </div>
                                        <div class="form-check">
                                            {% render_field form_order.liquidation %}
                                            <label class="form-check-label ml-2" for="">{{ form_order.liquidation.label }}</label>
                                        </div>
                                    </div>
                                </div>
                                
                                {{ formset_order_items.management_form }}
                                <div id="order">
                                    {% for order_item_form in formset_order_items %}
                                    <div id="item-{{ forloop.counter0 }}" class="form-row">

                                        {% render_field order_item_form.order data-field='order' %}
                                        {{ order_item_form.id }}
                                        <div class="input-group mb-3 col-md-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ order_item_form.characteristictestlab.label }}</span>
                                            </div>
                                            {% render_field order_item_form.characteristictestlab class="form-control" hx-get="/orders/characteristic/test_lab/" hx-target="#id_test_lab" hx-swap="outerHTML" data-field="characteristictestlab" %}
                                        </div>
                                        <div class="input-group mb-3 col-md-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ order_item_form.test_lab.label }}</span>
                                            </div>
                                            {% render_field order_item_form.test_lab class="form-control" hx-get="/orders/test_lab/price/" hx-target="#id_price" hx-swap="outerHTML" data-field="test_lab" %}
                                        </div>
                                        <div class="input-group mb-3 col-md-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ order_item_form.quantity.label }}</span>
                                            </div>
                                            {% render_field order_item_form.quantity class="form-control" data-field='quantity' %}
                                        </div>
                                        <div class="input-group mb-3 col-md-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ order_item_form.price.label }} S/.</span>
                                            </div>
                                            {% render_field order_item_form.price class="form-control" data-field='price' %}
                                        </div>
                                        <div class="input-group mb-3 col-md-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ order_item_form.sampling_by.label }}</span>
                                            </div>
                                            {% render_field order_item_form.sampling_by class="form-control" data-field="sampling_by" %}
                                        </div>
                                        <div class="form-group col-md-1">
                                            {% if order_item_form.id.value %}
                                            <button type="button" class="btn btn-outline-danger is-link remove-row"
                                                hx-delete="{% url 'orders:delete_order_item_row_hx' order_item_form.id.value %}"
                                                hx-confirm="Confirma eliminar el item {{ order_item_form.id.value }}?"
                                                hx-target="#item-{{ forloop.counter0 }}"
                                                hx-swap="outerHTML swap:500ms">
                                                <i class="feather icon-slash f-16 mr-2"></i>Borrar
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-outline-danger" onclick="removeRow()">
                                                <i class="feather icon-slash f-16 mr-2"></i>Borrar
                                            </button>                                            
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <button id="addItem" type="button" class="btn btn-outline-success"
                                    hx-get="{% url 'orders:create_order_item_row_hx' %}"
                                    hx-target="#order"
                                    hx-swap="beforeend">
                                    <i class="feather icon-plus f-16 mr-2"></i>Agregar
                                </button>                                            

                                <button type="submit" class="btn btn-primary">Guardar Items</button>

                                <a id="btn-close" type="button" class="btn btn-primary" style="display: none"
                                    href="{% url 'core:requirement' %}">
                                    <i class="fa fa-close"></i>Guardar Items
                                </a>
                                <a type="button" class="btn btn-danger"
                                    href="{% url 'core:requirement' %}">
                                    Cancelar
                                </a>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->
                
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- modals-card start -->
    
    <!-- modals-card end -->
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- order and order items js -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- HTMX headers js -->
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

{% endblock javascripts %}