{% load widget_tweaks %}

<div id="item-{{ forloop.counter0 }}" class="form-row">

    {% render_field order_item_form.order data-field='order' %}
    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ order_item_form.test_lab.label }}</span>
        </div>
        {% render_field order_item_form.test_lab class="form-control" hx-get="/orders/test_lab/price/" hx-target="#id_price" hx-swap="outerHTML" data-field="test_lab" %}
    </div>
    <div class="input-group mb-3 col-md-2">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ order_item_form.quantity.label }}</span>
        </div>
        {% render_field order_item_form.quantity class="form-control" data-field='quantity' %}
    </div>
    <div class="input-group mb-3 col-md-2">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ order_item_form.price.label }} S/.</span>
        </div>
        {% render_field order_item_form.price class="form-control" data-field='price' %}
    </div>
    <div class="input-group mb-3 col-md-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ order_item_form.sampling_by.label }}</span>
        </div>
        {% render_field order_item_form.sampling_by class="form-control" data-field="sampling_by" %}
    </div>
    <div class="form-group col-md-2">
        <button type="button" class="btn btn-outline-danger is-link" onclick="removeRow()">
            <i class="feather icon-slash f-16 mr-2"></i>Borrar
        </button>                                            
    </div>
</div>