<tr id="">
    <td>{{ order.id }}-{{ forloop.revcounter }}</td>
    <td>{{ order.number_request }}</td>
    <td>{{ order.discount }}</td>
    <td>{{ order.created }}</td>
    <td>{{ order.updated }}</td>
    <td>
        <a href="{% url 'orders:update_order' order.id %}">
            <button type="button" class="btn btn-outline-warning"><i class="feather icon-alert-triangle f-16 mr-2"></i>Editar</button>
        </a>
        <a href=""
            hx-delete="{% url 'orders:delete_order_hx' order.id %}"
            hx-confirm="Confirma eliminar la orden Nª {{ forloop.revcounter }} con {{ order.order_items.count }} ensayos"
            hx-target="closest tr"
            hx-swap="outerHTML swap:500ms">
            <button type="button" class="btn btn-outline-danger">
                <i class="feather icon-slash f-16 mr-2"></i>Borrar
            </button>
        </a>
        <a href=""
            type="button" class="btn btn-outline-info"
            data-toggle="modal"
            data-target="#detailModalCompany"
            hx-get="{ url 'companies:detail_company_hx' company.id %}"
            hx-target="#detailCompanyContent"
            hx-swap="innerHTML">
            <i class="feather icon-info f-16 mr-2"></i>Info
        </a>
    </td>
</tr>