{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title_head %} {{ title_head|upper }} {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">

            <!-- [ Main Content ] start -->
            <div class="row">       
                        
                <!-- account-section start -->
                <div class="col-lg-4">
                    <div id="companyForm" class="card">
                        <div class="card-header">
                            <h5>{{ section|title }}</h5>
                        </div>
                        {% include 'includes/messages.html' %}
                        <div class="card-body">
                            {% block content_change %}
                            {% lorem 2 p %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- account-section end -->

                <!-- Customer overview start -->
                <div class="col-lg-8">
                    <div class="card table-card">
                        <div class="card-header">
                            <a href="{% url 'companies:create_company' %}" type="button" class="btn btn-outline-primary">
                                <i class="feather icon-plus-circle f-16 mr-2"></i>Agregar Compañia
                            </a>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximizar</span><span style="display:none"><i class="feather icon-minimize"></i> Restaurar</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Colapsar</span><span style="display:none"><i class="feather icon-plus"></i> Expadir</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> Refrescar</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> Remover</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="nav nav-pills nav-fill mt-3 border-bottom pb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-companies-tab" data-toggle="pill" href="#pills-companies" role="tab" aria-controls="pills-companies" aria-selected="true"
                                        hx-get="{% url 'companies:list_company_hx' %}"
                                        hx-trigger="load delay:100ms"
                                        hx-target="#companyTable" 
                                        hx-swap="innerHTML">
                                        <i class="feather icon-file-text m-r-5"></i>Compañias
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients" role="tab" aria-controls="pills-clients" aria-selected="false"
                                        hx-get="{% url 'members:list_client_hx' %}"
                                        hx-trigger="load delay:100ms"
                                        hx-target="#clientTable" 
                                        hx-swap="innerHTML">
                                        <i class="feather icon-file-text m-r-5"></i>Clientes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-projects-tab" data-toggle="pill" href="#pills-projects" role="tab" aria-controls="pills-projects" aria-selected="false"
                                        hx-get="{% url 'projects:list_project_hx' %}"
                                        hx-trigger="load delay:100ms"
                                        hx-target="#projectTable" 
                                        hx-swap="innerHTML">
                                        <i class="feather icon-file-text m-r-5"></i>Proyectos
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-companies" role="tabpanel" aria-labelledby="pills-companies-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll" style="height:420px;position:relative;">
                                            <table id="companyTable" class="table table-hover m-b-0">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-clients" role="tabpanel" aria-labelledby="pills-clients-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll1" style="height:420px;position:relative;">
                                            <table id="clientTable" class="table table-hover m-b-0">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-projects" role="tabpanel" aria-labelledby="pills-projects-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll2" style="height:420px;position:relative;">
                                            <table id="projectTable" class="table table-hover m-b-0">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->

                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Compañias</h6>
                            <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>486</span></h2>
                            <p class="m-b-0">Este Mes<span class="float-right">---</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Clientes</h6>
                            <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>1641</span></h2>
                            <p class="m-b-0">Este mes<span class="float-right">---</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Proyectos</h6>
                            <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>$42,562</span></h2>
                            <p class="m-b-0">This Month<span class="float-right">---</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">-------</h6>
                            <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>$------</span></h2>
                            <p class="m-b-0">-------<span class="float-right">$-----</span></p>
                        </div>
                    </div>
                </div>
                <!-- order-card end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- modals-card start -->
    {% include "companies/detail_modal.html" %}
    <!-- modals-card end -->
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        // Necessário por causa do delete
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>

{% endblock javascripts %}