{% extends "layouts/base.html" %}
{% load static %}

{% block title_head %} {{ first_section|upper }} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 500ms ease-out;
    }
</style>
{% endblock stylesheets %}

{% block main_content %}
<div class="pagetitle">
    <h1>{{ title|title }}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{ first_section|capfirst }}</a></li>
            <li class="breadcrumb-item active">{{ second_section|capfirst }}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<!-- [ Main Content ] start -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ second_section|upper }}</h5>
   
                    <div class="btn-toolbar mb-3">
                        <div class="input-group me-2">
                            <div class="input-group-text"><i class="bi bi-search"></i></div>
                            <form class="search-form me-2">
                                {% csrf_token %}
                                <input  type="text" class="form-control" name="query" placeholder="Buscar"
                                    hx-get="{% url 'orders:search_list_order_quatotion' %}"
                                    hx-target="#table-orders-quatotion"
                                    hx-swap="innerHTML"
                                    hx-trigger="keyup changed delay:200ms">
                            </form><!-- End Search Bar --> 
                            </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-success btn-sm"
                                href="{% url 'orders:csv_quatotion_order' %}">
                                <i class="bi bi-file-earmark-spreadsheet me-2"></i>Excel
                            </a>
                        </div>
                    </div>

                    <!-- Table with stripped rows -->
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Orden</th>
                                    <th scope="col">Descuento</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Total <span class="text-decoration-line-through">IGV</span></th>
                                    <th scope="col">IGV</th>
                                    <th scope="col">Total IGV</th>
                                    <th scope="col">Creado</th>
                                    <th scope="col">Actualizado</th>
                                    <th scope="col">Acciones</th>
                                    <th scope="col">Documentos</th>
                                </tr>
                            </thead>
                            <tbody id="table-orders-quatotion" hx-trigger="load delay:500ms, orderListChanged from:body delay:500ms"
                                hx-get="{% url 'orders:list_order_quatotion' %}">
                                <tr>
                                    <td class="spinner-border" role="status">
                                        <span class="visually-hidden">Cargando...</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table with stripped rows -->
                    <br>
                    <a type="button" class="btn btn-primary" href="{% url 'orders:create_order_quatotion' %}">
                        Crear
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- [ Main Content ] end -->
{% endblock main_content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // Necessário por causa do delete
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>
{% endblock javascripts %}